*.o
a.out
a.exe

*.bin
*.xxd
*.exe

.vscode
extras/build
extras/examples/coro-simple
extras/examples/coro-symmetric
extras/examples/jobs-mandelbrot
extras/test/cpp-test
extras/test/jobs-throughput
extras/test/jobs-wait

/extras/.vs
/extras/out
extras/build/.ninja_deps
